.main{
  height: 100vh;
  width: 100vw;
}

  
  .annonceContainer{
    display: flex;
    flex-direction: row;
    padding-top: 10%;
    gap: 80px;   
}


.card {
    width: 250px;
    height: 330px;
    background: rgb(17, 4, 134);
    border-radius: 15px;
    display: flex;
    color: white;
    position: relative;
    flex-direction: column;
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}


.card:hover > .moon {
  font-size: 23px;
}



.card:hover > .imageFond {
height: 51%;
overflow: hidden;
width: 100%; 

}




  .imageFond{
    height: 50%;
    transition: all 0.3s ease-in-out;
  }



  .card:hover {
    cursor: pointer;
    transform: scale(1.05);

  }

  
  .container {
    display: flex;
    overflow-x: scroll;
    width: 60vw;
    height: 500px;
    scroll-padding-top: 24px;
    border-radius: 8px;
    margin-left: 20%;
    padding-left: 1%;
}
  


.info{
  display: flex;
  flex-direction: column;
  padding-left: 6%;
  background-color: rgb(46, 84, 117);
}



/* Coeur */

.heart{
  display: flex;
justify-content: flex-end;
padding-right: 20px;
padding-bottom: 10px;}


.heartIcon{
  height: 20px;
  width: 20px;
}



/* Modal */

.imageModal{
  height: 25vh;
  width: 13vw;
}

.button {
  --bezier: cubic-bezier(0.22, 0.61, 0.36, 1);
  --edge-light: hsla(0, 0%, 50%, 0.8);
  --text-light: rgba(255, 255, 255, 0.4);
  --back-color: 240, 40%;

  cursor: pointer;
  padding: 0.7em 1em;
  border-radius: 0.5em;
  min-height: 2.4em;
  min-width: 3em;
  display: flex;
  align-items: center;
  gap: 0.5em;

  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1;
  font-weight: bold;

  background: linear-gradient(
    140deg,
    hsla(var(--back-color), 50%, 1) min(2em, 20%),
    hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
  );
  color: hsla(0, 0%, 90%);
  border: 0;
  box-shadow: inset 0.4px 1px 4px var(--edge-light);

  transition: all 0.1s var(--bezier);
}

.button:hover {
  --edge-light: hsla(0, 0%, 50%, 1);
  text-shadow: 0px 0px 10px var(--text-light);
  box-shadow: inset 0.4px 1px 4px var(--edge-light),
    2px 4px 8px hsla(0, 0%, 0%, 0.295);
  transform: scale(1.1);
}

.button:active {
  --text-light: rgba(255, 255, 255, 1);

  background: linear-gradient(
    140deg,
    hsla(var(--back-color), 50%, 1) min(2em, 20%),
    hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
  );
  box-shadow: inset 0.4px 1px 8px var(--edge-light),
    0px 0px 8px hsla(var(--back-color), 50%, 0.6);
  text-shadow: 0px 0px 20px var(--text-light);
  color: hsla(0, 0%, 100%, 1);
  letter-spacing: 0.1em;
  transform: scale(1);
}

.textReservation{
  color: white;
}

.text{
  color: white;
}

  .input {
    border: 2px solid transparent;
    width: 10em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
  }
  
  .input:hover,
  .input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  }
.time{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}