.main {
  display: flex;
  height: 193vh;
  width: 100vw;
  flex-direction: column;
}


.container {
  height: 93vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-image: url("../public//Image/image36.jpg");


}


.h1{
  color: white;
  font-family:  Georgia, Times, 'Times New Roman', serif;
  padding-left: 25%;
}

.h2{
  color: white;
  font-family:    Geneva, Verdana, sans-serif;
  padding-left: 8%;
}




.image{
  width: 57vw;
}

.logo{
  padding-top: 6%;
  padding-left: 30%;
}
.logoh{
  height: 60%;
  width: 60%;
}


.imageFond{
  height: 93vh;
  width: 100vw;
  clip-path: polygon(0% 0%, 29.7% 0%, 56.5% 50.8%, 30.7% 100%, 0% 100%, 0% 50%);

}


.annonce {
height: 92vh;
width: 43vw;


}


.imageDsn{
  height: 100%;
  width: 100%;
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 23.5% 100%);
  
  
}






/* annonce container */

.containerAnnonce{
  height: 100vh;
  width: 100vw;
}